﻿@{
    ViewBag.Title = "aile";
}

<font color="#CC6600"><b><h1>AİLE FİLMLERİ</h1></b></font>

<div class="row" align="center">
    <div class="col-md-4">
        <font color="#CC6600"><h2>Rolinny Film</h2></font>
        <img src="~/resim/aile1.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#CC6600"><h2>Tony 10</h2></font>
        <img src="~/resim/aile2.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#CC6600"><h2>Geniş AİLE</h2></font>
        <img src="~/resim/aile3.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#CC6600"><h2>Famille a Louer</h2></font>
        <img src="~/resim/aile4.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <font color="#CC6600"><h2>Hayal ET</h2></font>
        <img src="~/resim/aile5.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
</div>
