﻿@{
    ViewBag.Title = "komedi";
}
<font color="#3399CC"><b><h1>Komedi FİLMLERİ</h1></b></font>
<div class="row" align="center">
    <div class="col-md-4">
        <font color="#3399CC"><h2>Oflu Hocanın Şifresi</h2></font>
        <img src="~/resim/komedi1.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#3399CC"><h2>ADANA İŞİ</h2></font>
        <img src="~/resim/komedi2.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#3399CC"><h2>Alacağımız Var</h2></font>
        <img src="~/resim/komedi3.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <font color="#3399CC"><h2>Recep İvedik 3 </h2></font>
        <img src="~/resim/komedi4.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <font color="#3399CC"><h2>  Küçük Esnaf</h2></font>
        <img src="~/resim/komedi5.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
</div>