﻿@{
    ViewBag.Title = "korku";
}
<font color="#FF0000"><b><h1>KORKU FİLMLERİ</h1></b></font>
<div class="row" align="center">
    <div class="col-md-4">
        <font color="#FF0000"><h2>Lanetli Ev</h2></font>
        <img src="~/resim/korku1.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <font color="#FF0000"><h2>Vahşet Geçidi</h2></font>
        <img src="~/resim/korku2.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <font color="#FF0000"><h2>Hush</h2></font>
        <img src="~/resim/korku3.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <font color="#FF0000"><h2>Stranger</h2></font>
        <img src="~/resim/korku4.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <font color="#FF0000"><h2>Horror</h2></font>
        <img src="~/resim/korku6.jpg" width="200px" height="300px" />
        <p><a class="btn btn-default">DEVAMI &raquo;</a></p>
    </div>
</div>
